<a href="https://colab.research.google.com/github/veena121/R-Lab/blob/main/R_Experiment1_writeup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Basics of R Programming**

Let us learn basic building blocks of the R programming language.

In most comman way R can be though as an interactive calculator.

Try executing following code block

In [ ]:
#Code cell
5*7

[1] 35

In [ ]:
typeof(12)

[1] "double"

 **Store computed value in a variable**

 The way you assign a value to a variable in R is by using the assignment operator, which is just a 'less than'symbol followed by a 'minus' sign. It looks like this: <-

In [ ]:
#Store result of 5+7 in varible c
c<-5+8*6
c

[1] 53

In [ ]:
typeof(c)

[1] "double"

We can further use variable c in another exrpession to create variable b which is 1 excess that one fourth of value of c

In [ ]:
b<-c/4+1
b 
d=c/4+1
d

[1] 14.25

[1] 14.25

In [ ]:
typeof(b)
typeof(d)

[1] "double"

[1] "double"

**Creation of Vector**

The easiest way to create a vector is with the c() function, which stands for 'concatenate' or 'combine'. 

 To create a vector containing the numbers 1.1, 9, and 3.14, type c(1.1, 9, 3.14). Try it now and store the result in a variable called z in following code block.

In [ ]:
z <- c(1.1, 9, 'dhg')
z
z1 <- c(1.1, 9, 5,566,4564.545646)
z1

[1] "1.1" "9"   "dhg"

[1]    1.100    9.000    5.000  566.000 4564.546

In [ ]:
typeof(z)
typeof(z1)
class(z)

[1] "character"

[1] "double"

[1] "character"

In [ ]:
z

[1] "1.1" "9"   "dhg"

In [ ]:
#Get Documentation about concatinate
?c
#help(c)

You can combine vectors to make a new vector. 

Create a new vector that contains z, 555, then z again in that order. Don't assign this vector to a new variable, so that we can just see the result immediately.

In [ ]:
d <-c(z,555,z)
length(d)

[1] 7

In [ ]:
z<-c(3,6,5)

**Using Vector in Expression**

compute z^2 + 3 and check output

In [ ]:
z
z^2+3

[1] 3 6 5

[1] 12 39 28

**Comman Arithmatic Operators in R**

+, -, /, *, ^ are comman operators and sqrt, abs are arithmatic functions in R

When given two vectors of the same length, R simply performs the specified arithmetic operation (`+`, `-`, `*` etc.) element-by-element. If the vectors are of different lengths, R 'recycles' the shorter vector until it is the same length as the longer vector.

When we do z * 2 + 100, z is a vector of length 3, but technically 2 and 100 are each vectors of length 1.

In [ ]:
y<-rep(2,10)
y
length(y)

 [1] 2 2 2 2 2 2 2 2 2 2

[1] 10

In [ ]:
# Does recycling explains output of following expression
c(1, 2, 3, 4) + c(0, 10)
c(1, 2, 3, 4) + c(0, 10, 0 ,10)
c(1, 2, 3, 4, 5) + c(2, 10)
c(1, 2, 3, 4, 5) + c(2, 10, 2, 10, 2)

[1]  1 12  3 14

[1]  1 12  3 14

Warning message in c(1, 2, 3, 4, 5) + c(2, 10):
“longer object length is not a multiple of shorter object length”

[1]  3 12  5 14  7

[1]  3 12  5 14  7

**How to access disk?**

In [ ]:
curdir<-getwd()
curdir

[1] "/content"

In [ ]:
ls()

[1] "b"      "c"      "curdir" "d"      "y"      "z"      "z1"

In [ ]:
#show you files in PWD
list.files()
#dir('.')

[1] "sample_data"

In [ ]:
list.dirs('sample_data')

[1] "sample_data"

In [ ]:
old_dir<-getwd()

In [ ]:
#creates a folder on ur device 
dir.create('test2')

In [ ]:
list.dirs()

[1] "."                         "./.config"
[3] "./.config/configurations"  "./.config/logs"
[5] "./.config/logs/2021.02.04" "./sample_data"
[7] "./test2"

In [ ]:
getwd()

[1] "/content"

In [ ]:
file.create('mytest.R')

[1] TRUE

In [ ]:
dir()

[1] "mytest.R"    "sample_data" "test2"

In [ ]:
file.exists('/test2/mytest.R')
file.exists('mytest.R')

[1] FALSE

[1] TRUE

In [ ]:
file.info('./myTest.R')

           size isdir mode mtime ctime atime uid gid uname grname
./myTest.R NA   NA    <NA> <NA>  <NA>  <NA>  NA  NA  NA    NA

In [ ]:
file.rename('mytest.R','mytest2.R')

[1] TRUE

In [ ]:
dir()

[1] "dir1"        "mytest2.R"   "sample_data" "test2"

In [ ]:
file.copy('mytest2.R','mytest3.R')

[1] TRUE

In [ ]:
file.path('testdir2','testdir3')

[1] "testdir2/testdir3"

In [ ]:
 dir.create(file.path('testdir2','testdir3'),recursive = TRUE)

In [ ]:
dir()

[1] "dir1"        "mytest2.R"   "mytest3.R"   "sample_data" "test2"
[6] "testdir2"

In [ ]:
setwd('testdir2')

ERROR: ignored

In [ ]:
dir()
getwd()

[1] "testdir3"

[1] "/content/testdir2"

**Complete following tasks**

Write R Code:
 

1.    To create a directory named myworkplace in current working dirctory.
2.   Create a folders/directories **exp1 and exp2** in it.
3.   Navigate to **exp1** and create a file named **my_file.txt**. 
4.   Copy it to **my_file1.txt**
5.   List files and folders in PWD and also in '/contents' directory  
6.   Display only File access permisssion in the output for every file in **exp1** folder.

In [ ]:
#To create a directory named myworkplace in current working dirctory.
dir.create('myworkplace')
dir()

'myworkplace'
'sample_data'

In [ ]:
#Create a folders/directories exp1 and exp2 inside it.
dirlist <- c('exp1','exp2')
#dirlist[1]
paths <- file.path('myworkplace',dirlist)
dir.create(paths[1],recursive = TRUE)
dir.create(paths[2],recursive=TRUE)

In [ ]:
dir('./myworkplace')
file.info('./myworkplace/exp1')

[1] "exp1" "exp2"

                 size isdir mode mtime               ctime
./workplace/exp1 4096 TRUE  755  2021-02-11 09:38:49 2021-02-11 09:38:49
                 atime               uid gid uname grname
./workplace/exp1 2021-02-11 09:38:49 0   0   root  root

In [ ]:
#navigate to exp1 directory
setwd(paths[1])
getwd()

[1] "/content/testdir2/workplace/exp1"

In [ ]:
file.create('myfile.txt')

[1] TRUE

In [ ]:
# Copy it to my_file1.txt
file.copy('myfile.txt', 'my_file1.txt')

TRUE

In [ ]:
# List files and folders in PWD and also in '/contents' directory 
list.files()

'my_file1.txt'
'myfile.txt'

In [ ]:
# files and folder in '/content'
setwd('/content')
list.dirs()

'.'
'./.config'
'./.config/configurations'
'./.config/logs'
'./.config/logs/2021.03.01'
'./.ipynb_checkpoints'
'./myworkplace'
'./myworkplace/exp1'
'./myworkplace/exp2'
'./sample_data'

In [ ]:
# Display only File access permisssion in the output for every file in exp1 folder. 
setwd('./myworkplace/exp1')
# test for existence.
file.access(list.files(), 0)
# test for execute permission.
file.access(list.files(), 1)
# test for write permission.
file.access(list.files(), 2)
# test for read permission.
file.access(list.files(), 3)

In [ ]:
my_file1.txt
0
my_file.txt
0

**my_file1.txt**
-1
**myfile.txt**
-1

**my_file1.txt**
0
**myfile.txt**
**0**

**my_file1.txt**
-1
**myfile.txt**
-1